.header-background {
  background-color:#101010;
}

.header1-header {
  font-family: serif, Monaco, fantasy, 'Segoe UI', Tahoma, Geneva, Verdana;
  font-size: 45px;
  color: white;
  text-align: center;
}

.header2-paragraph {
  font-family: 'Lucida Handwriting','Lucida Sans', 'Times New Roman', Times, serif;
  font-size: 18px;
  color: white;
  text-align: center;
}
.proportionate-image {
  width: auto;
  text-align: center;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper-main {
  background-color: #F5FFFA; /*Mint cream*/
  text-align: center;
}

p {
  width: auto;
  padding: 20px;
  max-width: 100%
  height: auto;
}