/*header background color set*/
.header-background {
  background-color:#101010;
}

.header1-header {
  font-family: serif, Monaco, fantasy, 'Segoe UI', Tahoma, Geneva, Verdana;
  font-size: 45px;
  color: white;
  text-align: center;
}

.header2-paragraph {
  font-family: 'Lucida Handwriting','Lucida Sans', 'Times New Roman', Times, serif;
  font-size: 18px;
  color: white;
  text-align: center;
}
/*Make image possible to be resized while maintaining proper dimensions */
#proportionate-image {
  width: auto;
  text-align: center;
  padding: 20px;
}
/*set horizontal rule to half of it's width*/
hr {
  width: 50%;
}

/*restrict paragraph box, set text to left side of box, automatically adjust
height/margin, pad by 10 pixels, set font families*/
p {
  width: 350px;
  text-align: left;
  height: auto;
  margin: auto;
  padding: 10px;
  font-family: serif,'Courier New', Courier, monospace;
}

li {
  width: 215px;
  text-align: left;
  height: auto;
  margin: auto;; 
}
/*make the height of the image automatically scale with dimension change of width*/
img {
  max-width: 100%;
  height: auto;
}
/*set mint cream color to main section background and center all elements inside*/
.wrapper-main {
  background-color: #F5FFFA; /*Mint cream*/
  text-align: center;
}
/*set footer background to dark grey color*/
#footer-background {
  background-color: darkgrey;
}

.copyright {
  text-align: center;
  font-family: cursive,'Courier New', Courier, monospace;
  font-size: 10px;
  width: 350px;
  height: auto;
  margin: auto;
  padding: 10px; 
}
/*link color is blue*/
a:link {
  color:blue;
}
/*when link is visited the color turns to dark blue*/
a:visited {
  color: darkblue;
}
/*when link is hovered over, then color is blue and opacity reduced to 70%*/
a:hover {
  color: blue;
  opacity: 70%;
}
/*When link is active it becomes a purple color*/
a:active {
  color: purple;
}
