.header-background {
  background-color:#101010;
}

.header1-header {
  font-family: serif, Monaco, fantasy, 'Segoe UI', Tahoma, Geneva, Verdana;
  font-size: 45px;
  color: white;
  text-align: center;
}

.header2-paragraph {
  font-family: 'Lucida Handwriting','Lucida Sans', 'Times New Roman', Times, serif;
  font-size: 18px;
  color: white;
  text-align: center;
}
#proportionate-image {
  width: auto;
  text-align: center;
  padding: 20px;
}

hr {
  width: 50%;
}


p {
  width: 350px;
  height: auto;
  margin: auto;
  padding: 10px;
  font-family: serif,'Courier New', Courier, monospace;
}

li {
  width: 350px;
  height: auto;
  margin: auto; 
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper-main {
  background-color: #F5FFFA; /*Mint cream*/
  text-align: center;
}

#footer-background {
  background-color: darkgrey;
}

.copyright {
  text-align: center;
  font-family: cursive,'Courier New', Courier, monospace;
  font-size: 10px;
  width: 350px;
  height: auto;
  margin: auto;
  padding: 10px; 
}

a:link {
  color:blue;
}

a:visited {
  color: darkblue;
}

a:hover {
  color: blue;
  opacity: 70%;
}

a:active {
  color: purple;
}
